.phase {
  position: relative;
  flex: 0 0 45%;
}

.phase-border {
  height: 364px;
  width: 605px;

  background-image: url('../../assets/images/bamboo-frame.png');
  background-repeat: no-repeat;
  background-color: transparent;
}

.phase-content {
  position: absolute;
  top: 10%;
  left: 6%;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  max-height: 280px;
  width: 100%;
  max-width: 500px;
  padding-top: 28px;

  background-color: var(--bf-content);
}

.phase-title {
  font-family: var(--nerko-one), cursive;
  font-size: 40px;
  color: var(--green);
  line-height: 48px;
}

.phase-list-item {
  font-family: var(--inter), sans-serif;
  font-size: 24px;
  color: var(--primary);
  line-height: 29px;
}

@media (max-width: 1024px) {
  .phase {
    flex: 0 0 70%;
  }

  .phase-border {
    height: 290px;
    width: 490px;
    background-size: 490px 295px;
  }

  .phase-content {
    width: 407px;
    height: 245px;
  }

  .phase-title {
    font-size: 32px;
    line-height: 39px;
  }

  .phase-list-item {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .phase {
    flex: 0 0 90%;
  }

  .phase-border {
    height: 290px;
    width: 429.99px;

    background-size: 429.99px 258.7px;
  }

  .phase-content {
    width: 352px;
    height: 205px;
  }

  .phase-title {
    font-size: 28px;
    line-height: 34px;
  }

  .phase-list-item {
    font-size: 16px;
    line-height: 19px;
  }
}