* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1c303a;
  --bf-content: #fff1bb;
  --green: #53865d;

  /* Fonts */
  --black-han-sans: "Black Han Sans";
  --inter: "Inter";
  --nerko-one: "Nerko One";
}

.roadmap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;

  overflow-y: hidden;
}

.roadmap::-webkit-scrollbar {
  width: 8px;
}

.roadmap::-webkit-scrollbar-track {
  background-color: darkgray;
  border-radius: 10px;
}

.roadmap::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

.roadmap-bg {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;
}

.roadmap-bg img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.roadmap-title-wrapper {
  position: relative;

  width: 100%;
  height: 148px;
  margin-top: 42px;

  background: url("./assets/images/roadmap-text.png") no-repeat center;
}

.roadmap-title {
  position: absolute;
  bottom: 0;
  left: 50%;

  font-size: 64px;
  font-family: var(--black-han-sans), sans-serif;
  line-height: 80px;

  transform: translateX(-55%);
}

.roadmap-content {
  display: flex;

  width: 100%;
  margin-top: 28px;
  padding: 0 70px;

  overflow-x: hidden;
}

.container {
  max-width: 1600px;
}

@media (max-width: 1750px) {
  .container {
    max-width: 1350px;
  }
}

@media (max-width: 1450px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 1024px) {
  .roadmap-title-wrapper {
    background-size: 333px 106px;
    margin-top: 30px;
  }

  .roadmap-title {
    font-size: 48px;
    line-height: 60px;
  }

  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .roadmap-title-wrapper {
    background-size: 267px 85px;
  }

  .roadmap-title {
    font-size: 40px;
    line-height: 50px;
  }

  .container {
    max-width: 500px;
  }
}